<?xml version="1.0"?>
<model>
  <name>3DR Iris with camera</name>
  <version>1.0</version>
  <sdf version='1.0'>uav_vision.sdf</sdf>

  <author>
   <name>RegisLab</name>
   <email>regislab.uav@gmail.com</email>
  </author>

  <description>
    Model for learning optical flou and fiducial navigation  
  </description>
</model>